# 环境配置
CF_MAIL_DOMAIN=zhidexiu.com
CF_MAIL_API_URL=https://zhidexiu-mail.ppu2812859729.workers.dev
SMS_COUNTRY=52
SUB2_URL=https://ai.zhidexiu.com
SUB2_EMAIL=ppu281285@gmail.com
SUB2_PASSWORD=kuan0709
SUB2_GROUP=chatgpt1
